// CLIENT INFO
.client-info {
  border-top: 1px $lineColor solid;
  border-bottom: 1px $lineColor solid;
  text-align: center;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  .info-box {
    span {
      font-size: 1.4rem;
      font-weight: 300;
    }
    p {
      font-size: 1.5rem;
      font-weight: 700;
      white-space: pre-line;
    }
    &:last-child {
      grid-column: span 2;
    }
  }
}

// HERO IMAGES
.hero-images {
  .phone-image {
    margin-top: 2rem;
  }
}
.phone-image-5,
.phone-image-3,
.phone-image-4 {
  display: none;
}
.gradient-phone {
  position: relative;
  max-width: 219px;
  height: 443px;
  margin: 2rem auto 0 auto;
  border-radius: 2rem;
  background: linear-gradient(
    218deg,
    rgba(222, 21, 108, 1) 0%,
    rgba(245, 112, 51, 1) 35%,
    rgba(222, 21, 108, 1) 64%,
    rgba(245, 112, 51, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: 300%;
  animation: gradientAnimation 15s infinite alternate linear;
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//QR CODE CARD
.qr-card {
  display: none;
}
@media (min-width: $breakpoint-mobile) {
  // HERO IMAGES
  .phone-image-5,
  .phone-image-3,
  .phone-image-4 {
    display: block;
  }

  .grid-col-1 {
    order: 4;
  }

  .hero-images {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px;
  }
}

@media (min-width: $breakpoint-tablet) {
  //CLIENT INFO
  .client-info {
    grid-column: 2/8;
  }

  .info-container {
    display: flex;
    justify-content: space-between;
    .info-box {
      text-align: left;
      span {
        font-size: 1rem;
      }
      p {
        margin-top: 1.2rem;
        font-size: 1rem;
      }
      &:first-child {
        flex-grow: 0.7;
        p {
          margin-top: 0.2rem;
          font-size: 2rem;
        }
      }
    }
  }

  // HERO IMAGES
  .grid-col-1 {
    order: 0;
    margin-top: 16vw;
  }
  .grid-col-2 {
    margin-top: 8vw;
  }
  .grid-col-4 {
    margin-top: 16vw;
    .gradient-phone {
      max-width: 250px;
      height: 52.3%;
    }
  }
  .hero-images {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 250px));
    justify-content: space-between;
    gap: 10px;
    .phone-image {
      max-width: 250px;
      img {
        width: 100%;
      }
    }
  }

  //QR CODE CARD
  .qr-card {
    display: block;
    display: flex;
    margin: 10rem auto;
    .white-part {
      width: 70%;
      img {
        width: 100%;
      }
    }
    .pink-part {
      @include flexCenter;
      width: 30%;
      height: 37vw;
      margin-top: 7vw;
      border-radius: 0 3rem 3rem 0;
      background: linear-gradient(
        218deg,
        rgba(222, 21, 108, 1) 0%,
        rgba(245, 112, 51, 1) 23%,
        rgba(222, 21, 108, 1) 64%,
        rgba(245, 112, 51, 1) 100%
      );
      background-repeat: no-repeat;
      background-size: 300%;
      animation: gradientAnimation 15s infinite alternate linear;
      .qr-code {
        width: 60%;
        img {
          width: 100%;
        }
        .qr-info {
          display: flex;
          justify-content: space-between;
          margin-top: 2rem;
          color: $white;
          span {
            font-family: $fontSourceSans;
            font-size: 1.2rem;
            font-weight: 400;
          }
          p {
            margin: 0.5rem 0;
            font-family: $fontMazzard;
            font-size: 2rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  // CLIENT INFO
  .client-info {
    grid-column: 3/13;
  }
}

@media (min-width: $breakpoint-desktop) {
  // CLIENT INFO
  .info-container {
    .info-box {
      span,
      p {
        font-size: 1.2rem;
      }
      &:first-child {
        p {
          font-size: 2.2rem;
        }
      }
    }
  }
  .qr-code {
    width: 90%;
    margin: auto;
  }
}
