footer {
  padding-bottom: 5rem;
  background-color: $black;
  color: $white;
  text-align: center;
  .yellow {
    margin: 0;
    color: $yellow;
    font-size: 60px;
    .outline {
      color: transparent;
      -webkit-text-fill-color: $black; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: $yellow;
    }
  }
  .contact {
    font-size: 1rem;
    font-weight: 300;
  }
  .footer-mail {
    margin-top: 0.2rem;
    font-size: 1.6rem;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    font-size: 1.5rem;
    gap: 2rem;
    a {
      color: $white;
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    padding-bottom: 0;
    gap: 2rem;
    .footer-nav {
      flex-direction: row;
      align-self: flex-end;
      margin-right: 20%;
    }
  }
}
