// NAVBAR
.navbar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1rem;
  .logo {
    display: flex;
    align-items: center;
    .logo-only {
      transform: translateX(-50vw);
    }
    .logo-text {
      transform: translateX(-300%);
      transition: transform 0.4s ease-in;
    }
    .slide-in {
      transform: translateX(0%);
    }
  }
}

// MENU HAMBURGER
.menu-hamburger {
  @include flexCenter;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  .icon-hamburger {
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: $black;
    transition: all 0.5s ease-in-out;
    &::after,
    &::before {
      position: absolute;
      width: 30px;
      height: 3px;
      border-radius: 10px;
      background: $black;
      content: "";
      transition: all 0.5s ease-in-out;
    }
    &::after {
      transform: translateY(9px);
    }
    &::before {
      transform: translateY(-9px);
    }
  }
}

// MENU HAMBURGER OPENED
.menu-hamburger.open {
  .icon-hamburger {
    transform: translateX(-50px);
    background: transparent;
    &::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    &::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}

// NAV LIST
.nav {
  display: flex;
  position: absolute;
  top: 116px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: calc(100vh - 116px);
  transform: scaleY(0);
  transform-origin: top;
  background: $yellow;
  transition: transform 0.3s ease-in;
  &.nav-open {
    z-index: 200;
    transform: scaleY(1);
  }
  .list {
    margin: 0;
    padding: 2rem 1rem;
    .list-item {
      margin: 3rem 0;
      list-style: none;
      a {
        padding: 1rem 2rem;
        border: 1px transparent solid;
        border-radius: 2rem;
        color: $black;
        font-size: 2rem;
        text-decoration: none;
        &:hover {
          border: 1px black solid;
        }
      }
    }
  }
  .mail-contact {
    padding: 2rem 0rem 2rem 3rem;
    span {
      font-size: 1rem;
      font-weight: 300;
    }
    p {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

//MEDIA TABLET
@media (min-width: $breakpoint-tablet) {
  // NAVBAR
  .navbar {
    grid-column: 2/8;
    padding: 2rem 0;
    .logo {
      .logo-text {
        transform: translateX(0%);
      }
    }
  }

  // MENU HAMBURGER
  .menu-hamburger {
    display: none;
  }

  // NAV LIST
  .nav {
    position: relative;
    top: 0;
    flex-direction: row;
    width: unset;
    height: unset;
    transform: unset;
    background: transparent;
    .list {
      display: flex;
      flex-direction: row-reverse;
      padding: 0;
      gap: 1rem;
      .list-item {
        margin: 0;
        a {
          font-size: 1rem;
        }
      }
      .list-item:first-child a {
        margin-left: 1.5rem;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: $yellow;
      }
    }
    .mail-contact {
      display: none;
    }
  }
}

// MEDIA DESKTOP
@media (min-width: $breakpoint-laptop) {
  .navbar {
    grid-column: 3/13;
  }
}
