.process {
  margin-top: 5rem;
  text-align: center;
  .process-pharagraph {
    margin: 0;
    padding: 1rem;
    font-size: 1.125rem;
    font-weight: 300;
  }
  .process-card {
    max-width: 270px;
    margin: auto;
    border-radius: 30px;
    background-color: $white;
    .process-card-heading {
      margin-bottom: 0;
      padding-top: 2rem;
      color: $componentsText;
      font-size: 1.9rem;
    }
    .process-card-pharagraph {
      color: $componentsGrayText;
      font-size: 1.125rem;
    }
    .icons {
      padding-bottom: 2rem;
    }
  }
}

//PROGRESS BARS
.progress-bar {
  display: none;
}

//TRANSITION PHONES
.transition-mobile {
  max-width: 300px;
  margin: 4rem auto;
  text-align: center;
}
.transition-desktop {
  display: none;
}

//USER FLOW ROADMAP
.user-flow {
  z-index: 1;
  position: relative;
  margin-top: 5rem;
  border-top: 1px $lineColor solid;
  .roadmap-container {
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    padding: 3rem 0;
    gap: 1rem;
    .roadmap {
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      justify-content: center;
      label {
        display: block;
        position: relative;
        width: 100%;
        min-width: 100px;
        max-width: 220px;
        margin: 2rem auto;
        padding: 20px 10px;
        border: 1px $lineColor solid;
        border-radius: 2rem;
        background: $white;
        color: $componentsText;
        font-size: 0.8rem;
        font-weight: 700;
        &:not(:last-child)::after {
          position: absolute;
          bottom: -70px;
          left: 50%;
          width: 1px;
          height: 70px;
          background-color: $lineColor;
          content: "";
        }
      }
      input {
        display: none;
        &:checked + label {
          background-color: $pink;
          color: $white;
        }
      }
    }
  }
}

.user-phone-image {
  display: none;
  width: 100%;
}
.active {
  display: block;
}
.background-pink {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(60%);
  background-color: $pink;
}

// TYPOGRAPHY
.typography {
  z-index: 1;
  position: relative;
  margin: 5rem 0;
  border-top: 1px $lineColor solid;
  .font-container {
    display: flex;
    flex-direction: column;
  }
  .font-name-container {
    flex: 1 1 50%;
    padding: 0;
  }
  .font-sizes {
    flex: 1 1 50%;
  }
  .mazzard {
    margin-top: 3rem;
    font-family: $fontMazzard;
    .font-name {
      font-size: 60px;
      font-weight: 700;
    }
    .large-header {
      font-size: 42px;
      font-weight: 700;
    }
    .header1 {
      font-size: 34px;
    }
    .header2 {
      font-size: 28px;
    }
    .font-button {
      font-size: 22px;
    }
    .title1 {
      font-size: 20px;
    }
    .title2 {
      font-size: 17px;
    }
    .title3 {
      font-size: 16px;
    }
  }
  .source-sans {
    font-family: $fontSourceSans;
    .font-name {
      font-size: 32px;
    }
    .pharagraph1 {
      font-size: 20px;
    }
    .pharagraph2 {
      font-size: 16px;
    }
    .pharagraph3 {
      font-size: 14px;
    }
  }
  .background-heart {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/roadMapBg.png) no-repeat center left;
  }
}

.mockup {
  grid-column: 1/9;
  padding: 4rem 1rem;
  background-color: $pink;
  .mockup-container {
    grid-column: 2/8;
    border-top: 1px $white solid;
    color: $white;
  }
  img {
    max-width: 100%;
  }
}
.the-app {
  padding: 1rem;
  background-color: $theAppBg;
  .the-app-container {
    color: $white;
  }
  .the-app-image {
    text-align: center;
  }
  img {
    max-width: 100%;
    margin-top: -4rem;
  }
  .the-app-card {
    margin-top: 2rem;
    text-align: center;
    .app-span {
      font-size: 1.5rem;
      font-weight: 300;
    }
    .app-heading {
      margin: 0.5rem 0 1.5rem 0;
      font-size: 2.625rem;
    }
    .app-pharagraph {
      font-size: 1.125rem;
      font-weight: 300;
    }
  }
}

.app-desktop {
  display: none;
}

@media (min-width: $breakpoint-mobile) {
  //PROGRESS BARS
  .progress-bar {
    display: block;
    margin: 10rem 1rem;
    img {
      width: 100%;
    }
  }

  //TRANSITION PHONES
  .transition-desktop {
    display: block;
  }
  .transition-mobile {
    display: none;
  }
}

@media (min-width: $breakpoint-tablet) {
  .process {
    grid-column: 2/8;
    .process-pharagraph {
      width: 60%;
      margin: auto;
    }
    .process-card-container {
      display: flex;
      flex-wrap: wrap;
      .process-card {
        max-width: 300px;
        margin-top: 2rem;
      }
    }
  }

  //USER FLOW ROADMAP
  .user-flow {
    .roadmap-container {
      margin: 0;
      padding: 5rem 0;
      .roadmap {
        flex-basis: 60%;
        label {
          font-size: 1rem;
        }
      }
    }
  }

  // TYPOGRAPHY
  .typography {
    text-align: left;
    .font-container {
      flex-direction: row;
      margin-top: 4rem;
    }
    .font-name {
      margin: 0;
    }
    .mg-0-pd-1 {
      margin: 0;
      padding: 1rem;
    }
    .mazzard {
      margin-top: 3rem;
      .font-name {
        font-size: 70px;
      }
    }
  }

  .background-heart {
    transform: translateX(-20%);
  }

  .mockup {
    display: grid;
    grid-column: 1/9;
    grid-template-columns: repeat(8, 1fr);
    .mockup-image {
      text-align: center;
    }
  }

  .the-app {
    display: grid;
    grid-column: 1/9;
    grid-template-columns: repeat(8, 1fr);
    padding: 0;
    .the-app-container {
      display: flex;
      grid-column: 2/8;
      align-items: center;
      justify-content: space-between;
      gap: 5rem;
    }
    img {
      max-width: 100%;
    }
    .the-app-card {
      width: 315px;
      text-align: left;
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .process {
    grid-column: 3/13;
    .process-card-container {
      margin: 3rem 0;
      gap: 2rem;
    }
  }

  .mockup {
    display: grid;
    grid-column: 1/16;
    grid-template-columns: repeat(14, 1fr);
    .mockup-container {
      grid-column: 3/13;
    }
  }

  .the-app {
    grid-column: 1/16;
    grid-template-columns: repeat(14, 1fr);
    .the-app-container {
      grid-column: 3/13;
    }
  }
  .app-mobile {
    display: none;
  }
  .app-desktop {
    display: block;
  }
}

@media (min-width: $breakpoint-desktop) {
  .process .process-card-container {
    flex-wrap: nowrap;
    .process-card {
      max-width: 300px;
    }
  }
}
