// TICKET CONTAINER + SLIDER BUTTONS
.ticket-managment {
  position: relative;
  margin-bottom: 5rem;
  .slider-button {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    color: white;
    font-weight: bold;
  }
  .slider-button-left {
    z-index: 10;
    top: 50%;
    left: 5%;
    background: url(../images/sliderPhones/arrowLeft.png) no-repeat center
        center,
      $pink;
  }
  .slider-button-right {
    top: 50%;
    right: 5%;
    background: url(../images/sliderPhones/arrowRight.png) no-repeat center
        center,
      $pink;
  }
}

//PHONES SLIDER
.slider-box {
  height: 525px;
  .slider-track {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform 1s ease;
    .slide {
      display: flex;
      position: absolute;
      top: 2.5rem;
      right: 0;
      left: 0;
      justify-content: center;
    }
    .current-slide img {
      transform: scale(1.1);
      transition: transform 1s ease;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .ticket-managment {
    grid-column: 1/9;
    .small-heading {
      margin-left: 14vw;
    }
  }
}

@media (min-width: $breakpoint-laptop) {
  .slider-button {
    display: none;
  }
  .ticket-managment {
    grid-column: 1/15;
  }
}
