// Global
$yellow: #e2f754;
$black: #000000;
$white: #ffffff;
$orange: #f57033;
$pink: #de156c;
$bodyBg: #f6f6f6;
$grayPharagraph: #a3a3a3;
$grayTextAbove: #828282;
$theAppBg: #262322;
$lineColor: #d0d0d0;

// Components
$componentsText: #343240;
$componentsGrayText: #9f9ab7;
$chartGreen: #40b1a1;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
$fontSourceSans: "Source Sans Pro", sans-serif;

@import url(../fonts/ModeratFont/style.css);
$fontModerat: "Moderat";

@import url(../fonts/MazzardFont/style.css);
$fontMazzard: "Mazzard";

// Media Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
