@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
$fontSourceSans: "Source Sans Pro", sans-serif;

@import url(../fonts/ModeratFont/style.css);
$fontModerat: "Moderat";

@import url(../fonts/MazzardFont/style.css);
$fontMazzard: "Mazzard";

@import "./variables";
@import "./mediaQueries";
@import "./header";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: wheat;
}

.scroll {
  overflow-y: hidden;
}

.content-wrapper {
}
