@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url(../fonts/ModeratFont/style.css);
@import url(../fonts/MazzardFont/style.css);
.navbar {
  width: 100%;
  padding: 2rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo-text {
  display: block;
}

.navbar .logo-only {
  display: none;
}

.menu-hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-hamburger .icon-hamburger {
  width: 30px;
  height: 3px;
  background: #000000;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-hamburger .icon-hamburger::after, .menu-hamburger .icon-hamburger::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #000000;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-hamburger .icon-hamburger::after {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.menu-hamburger .icon-hamburger::before {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.menu-hamburger.open .icon-hamburger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.menu-hamburger.open .icon-hamburger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.menu-hamburger.open .icon-hamburger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.nav {
  height: calc(100vh - 116px);
  width: 100%;
  background: #e2f754;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 116px;
  left: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.nav.nav-open {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.nav .list {
  padding: 2rem 1rem;
  margin: 0;
}

.nav .list .list-item {
  margin: 3rem 0;
  list-style: none;
}

.nav .list .list-item a {
  color: #000000;
  text-decoration: none;
  font-family: "Moderat";
  font-size: 2rem;
}

.nav .mail-contact {
  padding: 2rem 1rem;
  font-family: "Moderat";
}

.nav .mail-contact span {
  font-weight: 300;
  font-size: 1rem;
}

.nav .mail-contact p {
  font-weight: 500;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .navbar {
    padding: 2rem 0;
    margin: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
  }
  .navbar .logo-text {
    display: block;
  }
  .navbar .logo-only {
    display: none;
  }
  .menu-hamburger {
    display: none;
  }
  .nav {
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    height: unset;
    width: unset;
    -webkit-transform: unset;
            transform: unset;
    top: 0;
  }
  .nav .list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 1rem;
  }
  .nav .list .list-item {
    margin: 0;
  }
  .nav .list .list-item a {
    font-size: 1rem;
  }
  .nav .list .list-item:first-child a {
    background-color: #e2f754;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-left: 1.5rem;
  }
  .nav .mail-contact {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navbar {
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
}

.client-info {
  padding: 2rem 1rem;
  border-top: 1px #d0d0d0 solid;
}

.info-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.info-container .info-box {
  text-align: center;
}

.info-container .info-box span {
  font-family: "Moderat";
  font-weight: 300;
  font-size: 1.4rem;
}

.info-container .info-box p {
  font-family: "Moderat";
  font-weight: 700;
  font-size: 1.5rem;
  white-space: pre-line;
}

.info-container .info-box:last-child {
  grid-column: span 2;
}

.hero-images {
  text-align: center;
}

.hero-images .phone-image {
  margin-top: 2rem;
}

.phone-image-5,
.phone-image-3,
.phone-image-4 {
  display: none;
}

.gradient-phone {
  background: url(/images/heroPhones/Group.png) no-repeat center center, #de156c;
  max-width: 219px;
  height: 443px;
  margin: 2rem auto 0 auto;
  border-radius: 2rem;
}

.qr-card {
  display: none;
}

@media (min-width: 480px) {
  .phone-image-5,
  .phone-image-3,
  .phone-image-4 {
    display: block;
  }
  .grid-col-1 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .hero-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .client-info {
    padding: 2rem 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
  }
  .info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info-container .info-box {
    text-align: left;
  }
  .info-container .info-box span {
    font-size: 1rem;
  }
  .info-container .info-box p {
    font-size: 1rem;
    margin-top: 1.2rem;
  }
  .info-container .info-box:first-child {
    -webkit-box-flex: 0.7;
        -ms-flex-positive: 0.7;
            flex-grow: 0.7;
  }
  .info-container .info-box:first-child p {
    font-size: 2rem;
    margin-top: 0.2rem;
  }
  .info-container .info-box:last-child {
    grid-column: span 2;
  }
  .grid-col-1 {
    margin-top: 16vw;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .grid-col-2 {
    margin-top: 8vw;
  }
  .grid-col-4 {
    margin-top: 16vw;
  }
  .grid-col-4 .gradient-phone {
    max-width: 250px;
    height: 52.3%;
  }
  .hero-images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(auto, 250px))[4];
        grid-template-columns: repeat(4, minmax(auto, 250px));
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }
  .hero-images .phone-image {
    max-width: 250px;
  }
  .hero-images .phone-image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .qr-card {
    display: block;
    margin: 10rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .qr-card .white-part {
    width: 70%;
  }
  .qr-card .white-part img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .qr-card .pink-part {
    margin-top: 7vw;
    width: 30%;
    height: 37vw;
    background-color: #de156c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 0 3rem 3rem 0;
  }
  .qr-card .pink-part .qr-code {
    width: 60%;
  }
  .qr-card .pink-part .qr-code img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .qr-card .pink-part .qr-code .qr-info {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #ffffff;
  }
  .qr-card .pink-part .qr-code .qr-info span {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
  }
  .qr-card .pink-part .qr-code .qr-info p {
    font-family: "Mazzard";
    font-weight: 700;
    font-size: 2rem;
    margin: 0.5rem 0;
  }
}

@media (min-width: 1024px) {
  .client-info {
    padding: 2rem 0;
    -ms-grid-column: 3;
    -ms-grid-column-span: 10;
    grid-column: 3/13;
  }
}

@media (min-width: 1440px) {
  .info-container .info-box span,
  .info-container .info-box p {
    font-size: 1.2rem;
  }
  .info-container .info-box:first-child p {
    font-size: 2.2rem;
  }
  .qr-code {
    width: 90%;
    margin: auto;
  }
}

.ticket-managment {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 14;
  grid-column: 1/15;
}

.ticket-managment .slider-button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #de156c;
  border: none;
  border-radius: 50%;
}

.ticket-managment .slider-button-left {
  top: 50%;
  left: 5%;
}

.ticket-managment .slider-button-right {
  top: 50%;
  right: 5%;
}

.slider-box {
  height: 525px;
}

.slider-track {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-track .slide {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 2.5rem;
  left: 0;
  right: 0;
}

.slider-track .current-slide img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}

.scroll {
  overflow-y: hidden;
}

.content-wrapper {
  overflow: hidden;
}

@media (min-width: 768px) {
  .content-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }
}

@media (min-width: 1024px) {
  .content-wrapper {
    -ms-grid-columns: (1fr)[14];
        grid-template-columns: repeat(14, 1fr);
    gap: 20px;
  }
}
/*# sourceMappingURL=style.css.map */