@import "./variables&animations";
@import "./header";
@import "./client-info";
@import "./ticket-managment";
@import "./our-tool+background";
@import "./key-features";
@import "./process";
@import "./footer";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $bodyBg;
  font-family: $fontModerat;
}

main {
  overflow: hidden;
}

.scroll {
  overflow-y: hidden;
}

.mobile-padd-2x1 {
  padding: 2rem 1rem;
}

.small-heading {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}
.big-heading {
  font-size: 2.2rem;
  font-weight: 700;
}

.scroll-to-top {
  visibility: hidden;
  z-index: 100;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  border-radius: 1rem;
  background: url(../images/arrowUp.png) no-repeat center center;
  background-color: $yellow;
  background-size: 15px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.top-active {
  visibility: visible;
  opacity: 1;
  &:hover {
    border: 1px black solid;
  }
}

// INTRO
.intro {
  overflow: hidden;
  position: fixed;
  inset: 0;
  background-color: $yellow;
  z-index: 1000;
  @include flexCenter;
  .intro-logo {
    height: 100%;
    flex-direction: column;
    gap: 1rem;
    @include flexCenter;
    .intro-only-logo {
      width: 100px;
      transform: translateY(-52vh);
    }
    .intro-logo-text {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
}
.slider-black {
  z-index: 1001;
  position: fixed;
  background-color: $black;
  inset: 0;
  transform: translateX(100%);
}

@media (min-width: $breakpoint-tablet) {
  .content-wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .scroll-to-top {
    right: 40px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    background-size: 25px;
  }

  .mobile-padd-2x1 {
    padding: 2rem 0rem;
  }

  .small-heading {
    text-align: left;
  }

  .big-heading {
    font-size: 3.125rem;
  }
}
@media (min-width: $breakpoint-laptop) {
  .content-wrapper {
    grid-template-columns: repeat(14, 1fr);
  }
}
